/* main-hero */
.hero_bg{
  position: relative;
  background-color: var(--color-secondary);
  height:540px;
  margin-top:70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero_content{
  width: 1110px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.hero_copy{
  width:357px;
}
.hero_copy h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
}
.hero_copy a{
  display: flex;
  padding: 16px 120px;
  height:56px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 40px;
  color: var(--color-text-button);
  font-size:2rem;
  font-weight: 600;
  line-height: 32px;
}
.hero_content img{
  height:340px;
}

/* main-articles */

.features article{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 138px 0;
}
.features article .features_box{
  display: flex;
  align-items: center;
  gap: 64px;
  width:988px; 
}
.features article img{
  width:588px;
}
.features article:nth-child(2) .features_box{
  flex-direction: row-reverse;
}

.features article .features_copy p:first-child{
  color: var(--color-text-point);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}
.features article .features_copy h2{
  font-size: 4rem;
  font-weight: 700;
  line-height: 140%; 
  letter-spacing: 0.8px;
  margin-bottom: 24px;
}
.features article .features_copy p:last-child{
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 32px;
}
.features article:nth-child(2) .features_copy{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
/* bot */
.bot_bg{
  padding-top: 138px;
  background-color: var(--color-bg-grey);
}
.bot{
  position: relative;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 143px;
}
.bot_banner{
  width: 1110px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.bot_banner_copy{
  width: 300px;
  margin-bottom: 60px;
  flex-shrink :0;
}
.bot_banner_copy h2{
  font-size: 4rem;
  font-weight: 700;
  line-height: 140%;
}
.bot_banner img{
  height: 400px;
  flex-grow: 1;
}

/* footer */
footer{
  width: 100%;
  background-color: var(--color-bg-dark);
}
.foot_info{
  max-width:1920px;
  color: var(--color-text-inactive);
  padding: 32px 200px;
  display: flex;
  justify-content: space-between;
  height: 160px;
  margin:0 auto;
}
footer p:nth-child(2){
  color: var(--color-text-footer);
  display: flex;
  gap: 30px;
}
footer p:nth-child(2) a{
  color: var(--color-bg-sub);
  cursor: pointer;
}
footer p:last-child{
  display: flex;
  gap: 12px;
}

/* login.html */
.main_login{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main_join{
  height: auto;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
.login, .join{
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.login h1 img, .join h1 img{
  width: 396px;
}
.login-form, .join-form{
  width: 100%;
  
}
.login-form form div, button#login, .join-form form div, button#join{
  margin-bottom: 24px;
}
.login-form div label, .join-form div label{
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 16px;
  color: var(--color-text-dark);
}
.login-form div input, .join-form div input{
  width: 100%;
  padding: 16px 24px;
  line-height: 2.6rem;
  border-radius: 12px;
  background-color: var(--color-text-button);
  border: 1px solid transparent;
}
.login-form div input::placeholder, .join-form div input::placeholder{
  font-size: 1.6rem;
  color: var(--color-text-inactive);
  line-height: 2.6rem;
}
.login-form div input:focus, .join-form div input:focus{
  outline: none;
  border: 1px solid var(--color-primary);
}
.login-form .input-password, .join-form .input-password{
  position: relative;
}
.login-form .btn-password-toggle, .join-form .btn-password-toggle{
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.login-form .bt_login, .join-form .bt_join{
  width: 100%;
  padding: 16px 124px;
  border-radius: 40px;
  background-color: var(--color-text-inactive);
  color: var(--color-text-button);
  font-size: 2rem;
}
.social-login{
  padding: 16px 23px;
  background-color: var(--color-tertiary);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-login p{
  color: var(--color-text-dark);
  font-size: 1.6rem;
}
.social-login__group li{
  display: inline-block;
  width: 42px;
}
.social-login__group li:first-child{
  margin-right: 16px;
}
.social-login__group li img{
  width: 100%;
}
.signup-footer p, .login-footer p{
  color: var(--color-text-dark);
  font-size: 1.4rem;
}
.signup-footer a, .login-footer a{
  color: var(--color-primary);
  text-decoration: underline;
}